*{

margin:0;
padding:0;
box-sizing:border-box;

}

html,body{

width:100%;
height:100%;

overflow:hidden;

background:transparent;

font-family:Arial;

}

#marco{

position:absolute;

left:0;
top:0;

width:100%;
height:100%;

border-radius:30px;

overflow:hidden;

border:4px solid #39ff88;

box-shadow:

0 0 10px rgba(57,255,136,.4);

}

#camara{

    width:100%;
    height:100%;

    border:none;

    object-fit:cover;
}

#nombre{

position:absolute;

bottom:15px;

left:50%;

transform:translateX(-50%);

padding:8px 22px;

background:rgba(0,0,0,.55);

border-radius:15px;

color:#FFD700;

font-size:26px;

font-weight:bold;

letter-spacing:2px;

}
