*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{

width:100%;
height:100%;

overflow:hidden;

background:transparent;

font-family:Arial;

}

#frame{
    position:relative;

    width:100%;
    height:100%;

    overflow:hidden;

    border-radius:28px;

    border:6px solid #00ff88;

    animation:rgb 12s linear infinite;

    box-shadow:
        0 0 4px rgba(0,255,136,.95),
        0 0 10px rgba(0,255,136,.75),
        0 0 20px rgba(0,255,136,.55),
        0 0 35px rgba(0,255,136,.35),
        0 0 55px rgba(0,255,136,.18),
        0 0 80px rgba(0,255,136,.08);
}

#camara{

position:absolute;

width:100%;
height:100%;

border:none;

transform-origin:center center;

transition:.4s;

}

#live{

position:absolute;

top:18px;
left:18px;

padding:8px 18px;

background:rgba(0,0,0,.45);

backdrop-filter:blur(10px);

border-radius:30px;

font-size:18px;

font-weight:bold;

letter-spacing:2px;

color:white;

display:flex;

align-items:center;

gap:10px;

}

.punto{

width:12px;
height:12px;

background:#00ff55;

border-radius:50%;

animation:latido 1s infinite;

box-shadow:0 0 10px #00ff55;

}

@keyframes latido{

0%{

transform:scale(1);

}

50%{

transform:scale(1.4);

}

100%{

transform:scale(1);

}

}

@keyframes rgb{

    0%{
        border-color:#00ff88;

        box-shadow:
            0 0 4px rgba(0,255,136,.95),
            0 0 10px rgba(0,255,136,.75),
            0 0 20px rgba(0,255,136,.55),
            0 0 35px rgba(0,255,136,.35),
            0 0 55px rgba(0,255,136,.18),
            0 0 80px rgba(0,255,136,.08);
    }

    25%{
        border-color:#00d4ff;

        box-shadow:
            0 0 4px rgba(0,212,255,.95),
            0 0 10px rgba(0,212,255,.75),
            0 0 20px rgba(0,212,255,.55),
            0 0 35px rgba(0,212,255,.35),
            0 0 55px rgba(0,212,255,.18),
            0 0 80px rgba(0,212,255,.08);
    }

    50%{
        border-color:#8a5cff;

        box-shadow:
            0 0 4px rgba(138,92,255,.95),
            0 0 10px rgba(138,92,255,.75),
            0 0 20px rgba(138,92,255,.55),
            0 0 35px rgba(138,92,255,.35),
            0 0 55px rgba(138,92,255,.18),
            0 0 80px rgba(138,92,255,.08);
    }

    75%{
        border-color:#FFD700;

        box-shadow:
            0 0 4px rgba(255,215,0,.95),
            0 0 10px rgba(255,215,0,.75),
            0 0 20px rgba(255,215,0,.55),
            0 0 35px rgba(255,215,0,.35),
            0 0 55px rgba(255,215,0,.18),
            0 0 80px rgba(255,215,0,.08);
    }

    100%{
        border-color:#00ff88;

        box-shadow:
            0 0 4px rgba(0,255,136,.95),
            0 0 10px rgba(0,255,136,.75),
            0 0 20px rgba(0,255,136,.55),
            0 0 35px rgba(0,255,136,.35),
            0 0 55px rgba(0,255,136,.18),
            0 0 80px rgba(0,255,136,.08);
    }
}
