*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:1080px;
    height:400px;
    overflow:hidden;
    background:transparent;
}

#contenedor{
    position:relative;
    width:1080px;
    height:400px;
    overflow:hidden;
}

#logo{
    position:absolute;
    width:500px;
    height:auto;
    left:0;
    top:0;

    filter:drop-shadow(0 0 8px rgba(255,255,255,.15));

    will-change:left,top;
}
