*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:1080px;
    height:400px;

    overflow:hidden;

    background:transparent;

}

#contenedor{

    position:relative;

    width:1080px;
    height:400px;

}

#logo{

    position:absolute;

    top:50%;

    left:0;

    transform:translateY(-50%);

    width: 500px;

    filter:
        drop-shadow(0 0 8px rgba(255,255,255,.15));

}
