*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{

width:100%;
height:100%;
overflow:hidden;
background:transparent;

font-family:Orbitron,sans-serif;

}

#overlay{

position:relative;

width:100vw;
height:100vh;

}

#logo{

position:absolute;

left:40px;
top:25px;

width:170px;

animation:flotar 4s ease-in-out infinite;

filter:

drop-shadow(0 0 15px cyan)
drop-shadow(0 0 40px cyan);

}

#textoPrincipal{

position:absolute;

left:230px;

top:40px;

font-size:52px;

font-weight:900;

color:white;

letter-spacing:2px;

text-shadow:

0 0 10px cyan,
0 0 25px cyan,
0 0 45px cyan;

animation:brillo 2s infinite alternate;

}

#textoSecundario{

position:absolute;

left:230px;

top:105px;

font-size:28px;

font-weight:bold;

letter-spacing:4px;

color:#00d4ff;

text-shadow:

0 0 10px cyan,
0 0 25px cyan;

}

@keyframes flotar{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0);

}

}

@keyframes brillo{

from{

filter:brightness(1);

}

to{

filter:brightness(1.5);

}

}
