*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    background:transparent;
    overflow:hidden;
    font-family:'Orbitron',sans-serif;
}

#mensaje{
    position:absolute;
    top:40px;
    left:0;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}

#mensaje span{

    display:inline-block;

    padding-left:100%;

    font-size:70px;
    font-weight:900;

    text-shadow:
        0 0 10px currentColor,
        0 0 20px currentColor,
        0 0 40px currentColor;

    animation:marquesina linear forwards;

}

@keyframes marquesina{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-200%);
    }

}
